@import tables.Tables
@(projects:Seq[Tables.ProjectRow])

@main("Welcome to Play") {
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="todolist not-done">
          <h1>Project List</h1>
            <input id="project" type="text" class="form-control add-todo" placeholder="Add todo">
            <button onclick="create()" type="button" class="btn btn-success">Add new project</button>
          <hr>
          <ul id="sortable" class="list-unstyled">
          @for(project <- projects){
            <li class="ui-state-default">
              <div class="checkbox">
                <input id="name@project.id" type="text" value="@project.name" />
                <select id="status@project.id" value="@project.status">
                  <option @if(project.status == "ready"){selected} value="ready">ready</option>
                  <option @if(project.status == "set"){selected} value="set">set</option>
                  <option @if(project.status == "go"){selected} value="go">go</option>
                </select>
                  <button onclick="update(@project.id)">Update</button>
              </div>
            </li>
          }
          </ul>
          <div class="todo-footer">
            <strong><span class="count-todos"></span></strong> Items Left
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="todolist">
          <h1>Already Done</h1>
          <ul id="done-items" class="list-unstyled">
            <li>Some item <button class="remove-item btn btn-default btn-xs pull-right">
              <span class="glyphicon glyphicon-remove">
              </span></button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
}
